<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
  <ion-header-bar align-title="center" class="logo">
  <h1 class="title"><img src="img/logo.png" class="small"></h1>
  <div class="buttons">
    <a class="button btn-sm btn-reset caps" href="#/tab/warehouse">X</a>
  </div>
</ion-header-bar>
<ion-view view-title="{{robot.name}}"> 
  <ion-content class="pad-20 black">
    <div class="screen-frame">
      <div> 
       <canvas class="canvas_canvas" id="detail"></canvas> 
       </div>
     </div>
     <div class="mar-tb20">
     
      <div class="game-controls">
            <table class="fnt-s fnt-white caps w-100p">
              <tbody>
                <caption>{{robot.name}}</caption>
                
                <tr>
                  <td>ID: </td>
                  <td>{{robot.id}}</td>
                  </tr>
                <tr>
                  <td>Generation:</td>
                  <td>{{robot.generation}}</td>
                  </tr>
                <tr>
                  <td>Color:</td>
                  <td>{{robot.color}}</td>
                  </tr>    
                  <tr>
                    <td colspan="2" class="text-center">
                    Stats  
                    </td>   
                 <tr>
                  <td>Speed: </td>
                  <td>{{robot.speed}}</td>
                </tr>
                <tr>
                  <td>Power: </td>
                  <td>{{robot.speed}}</td>
                  </tr>
                <tr>
                  <td>Power:</td>
                  <td>{{robot.power}}</td>
                  </tr>
                <tr>
                  <td>Armor:</td>
                  <td>{{robot.power}}</td>
                  </tr>         
              </tbody>
            </table>
            
          </div>
       </div>
       <div><button class="button btn btn-blue w-100p">Load Robot</button></div>
  </ion-content>
</ion-view>
