<ion-view view-title="Robot Factory {{factory.version}}">
  <ion-content class="padding">
    <div>
      <div>
       <canvas class="arcade-frame" id="main" height="260px" width="350px" ng-click=""><canvas> 
       </div>
       <div class="arcade-frame">
         <button class="button icon ion-plus-circled button-balanced btn" data-ng-click="createRobot()" data-ng-disabled="!state.factoryEmpty"></button>
         <button class="button icon ion-nuclear button-assertive btn" data-ng-click="destroyRobot()" data-ng-disabled="state.factoryEmpty"></button>
        <button class="button icon ion-android-star button-balanced btn" data-ng-click="saveRobot(this.robot)" data-ng-disabled="state.factoryEmpty"></button>
        </div>
        
        <div>
       <span class="fnt-trim text-left">Terminal 2000</span>
       </div>
       <div class="terminal">

        <span class="fnt-terminal fnt-message">
          <p>{{state.message}}</p>
        </span>
        <span ng-if="!state.factoryEmpty">
          <p class="fnt-terminal">Name: {{robot.name}}</p>
          <p class="fnt-terminal">Generation: {{robot.generation}}</span></p>
          <p class="fnt-terminal">Color: {{robot.color}}</p>
         </span>
      </div>
      
    </div>
    
  </ion-content>
</ion-view>
