<ion-view view-title="Factory">
  <ion-content delegate-handle="mainScroll">
    <div class="pad-20 black">
      <div class="screen-frame">
        <div> 
         <canvas class="canvas_canvas" id="main"></canvas> 
         <img class="canvas__mirror" src="" id="mirror" /> 
         </div>
         
         <div class="float-left w-40p">
           <table>
             <tbody>
               <caption class="terminal fnt-terminal caps" ng-class="{'fnt-deactivate' : state.factoryEmpty }">Info</caption>
               <tr>
                <td class="terminal fnt-terminal w-50p" ng-class="{'fnt-deactivate' : state.factoryEmpty }">Name: </td>
                <td class="terminal fnt-terminal w-50p" ng-class="{'fnt-deactivate' : state.factoryEmpty }">{{robot.name}}</td>
               </tr>
               <tr>
                <td class="terminal fnt-terminal w-50p" ng-class="{'fnt-deactivate' : state.factoryEmpty }">ID: </td>
                <td class="terminal fnt-terminal w-50p" ng-class="{'fnt-deactivate' : state.factoryEmpty }">{{robot.id}}</td>
                </tr>
               <tr>
                <td class="terminal fnt-terminal w-50p" ng-class="{'fnt-deactivate' : state.factoryEmpty }">Gen:</td>
                <td class="terminal fnt-terminal w-50p" ng-class="{'fnt-deactivate' : state.factoryEmpty }">{{robot.generation}}</td>
                </tr>
               <tr>
                <td class="terminal fnt-terminal w-50p" ng-class="{'fnt-deactivate' : state.factoryEmpty }">Color:</td>
                <td class="terminal fnt-terminal w-50p" ng-class="{'fnt-deactivate' : state.factoryEmpty }">{{robot.color}}</td>
                </tr>             
             </tbody>
           </table>

           </div>
           <div class="float-right w-40p">
             <table>
             <tbody>
               <caption class="terminal fnt-terminal caps" ng-class="{'fnt-deactivate' : state.factoryEmpty }">Stats</caption>
               <tr>
                <td class="terminal fnt-terminal w-50p" ng-class="{'fnt-deactivate' : state.factoryEmpty }">Speed: </td>
                <td class="terminal fnt-terminal w-50p" ng-class="{'fnt-deactivate' : state.factoryEmpty }">{{robot.speed}}</td>
               </tr>
               <tr>
                <td class="terminal fnt-terminal w-50p" ng-class="{'fnt-deactivate' : state.factoryEmpty }">Power: </td>
                <td class="terminal fnt-terminal w-50p" ng-class="{'fnt-deactivate' : state.factoryEmpty }">{{robot.speed}}</td>
                </tr>
               <tr>
                <td class="terminal fnt-terminal w-50p" ng-class="{'fnt-deactivate' : state.factoryEmpty }">Power:</td>
                <td class="terminal fnt-terminal w-50p" ng-class="{'fnt-deactivate' : state.factoryEmpty }">{{robot.power}}</td>
                </tr>
               <tr>
                <td class="terminal fnt-terminal w-50p" ng-class="{'fnt-deactivate' : state.factoryEmpty }">Armor:</td>
                <td class="terminal fnt-terminal w-50p" ng-class="{'fnt-deactivate' : state.factoryEmpty }">{{robot.power}}</td>
                </tr>             
             </tbody>
           </table>
           </div>
           <br clear="all" />
           <div><hr></div>
           <div class="w-100p">
            <p class="terminal fnt-terminal"><span class="prompt">$</span> {{state.message}}</p>
          </div>
       </div>
    </div> 
    <div>
      <div class="controls-frame">
        <div class="controls">
         <button class="button icon ion-arrow-right-b btn btn-green" data-ng-click="createRobot()" data-ng-disabled="!state.factoryEmpty"></button>
         <button class="button icon ion-nuclear btn btn-red" data-ng-click="destroyRobot()" data-ng-disabled="state.factoryEmpty"></button>
         <button class="button icon ion-android-star btn btn-orange" data-ng-click="saveRobot(this.robot)" data-ng-disabled="state.factoryEmpty"></button>
        </div>
       </div>
    </div>
  </ion-content>
</ion-view>
