<ion-view view-title="Robot Factory {{factory.version}}">
  <ion-content class="padding">
    <div>
      <div>
       <canvas class="arcade-frame" id="main" height="260px" width="350px" ng-click=""><canvas> 
       </div>
       <div class="arcade-frame">
         <button class="button icon ion-plus-circled button-balanced btn" data-ng-click="createRobot()" data-ng-disabled="!state.factoryEmpty"></button>
         <button class="button icon ion-nuclear button-assertive btn" data-ng-click="destroyRobot(robot)" data-ng-disabled="state.factoryEmpty"></button>
        <button class="button icon ion-android-star button-balanced btn" data-ng-click="saveRobot(robot)" data-ng-disabled="state.factoryEmpty"></button>
        </div>
        
        <div>
       <span class="fnt-trim text-left">Terminal 2000</span>
       </div>
       <div class="terminal">
        <p class="fnt-s" ng-if="state.factoryEmpty">Press the <i class="ion-plus-circled fnt-m"></i> button  to create a new robot!</p>
        <span class="fnt-s" ng-if="!state.factoryEmpty">
          <p>New robot created!</p>
          <p>Name: {{robot.name}}</p>
          <p>Generation: {{robot.generation}}</span></p>
      </div>
      
    </div>
    
  </ion-content>
</ion-view>
