<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-striped tabs-top tabs-background-balanced tabs-color-light">

  <!-- Dashboard Tab -->
  <ion-tab title="Factory" icon-off="ion-social-android" icon-on="ion-social-android" href="#/tab/factory">
    <ion-nav-view name="tab-factory"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Warehouse" icon-off="ion-cube" icon-on="ion-cube" href="#/tab/warehouse">
    <ion-nav-view name="tab-warehouse"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Laboratory" icon-off="ion-erlenmeyer-flask" icon-on="ion-erlenmeyer-flask" href="#/tab/lab">
    <ion-nav-view name="tab-lab"></ion-nav-view>
  </ion-tab>


</ion-tabs>
