@font-face {
	font-family: 'Press Start 2P';
	src: url('../lib/ionic/fonts/PressStart2P-Regular.ttf');
}

body {
	font-family: 'Press Start 2P', normal;
	display: block;
	margin: 0;
	padding: 0;
	text-align: center;
}

.pane {
	background-image: url("../img/cabinet-wood.jpg");
	background-repeat: none;
	background-size: cover;
}

h1, h2, h3 {
	color: deepskyblue;
	font-family: 'Press Start 2P', normal;
	text-align: center;
}

h4, h5, h6 {
	color: rgb(250, 250, 250);
	font-family: 'Press Start 2P', normal;
	text-align: left;
}

p {
   color: white;
   text-align: left;	
}

table td {
	text-align: left;
}

.tabs {
	height: 50px;
	background: transparent;
}

.tabs-striped .tabs {
	border-bottom: none;
}

.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated {
    color: #fff;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1%,rgba(68,40,30,0) 100%);
	margin-top: 2px;
	border-bottom: 2px solid rgba(255, 165, 0, 1);
}

.tabs-striped .tabs {
   color: rgba(255, 165, 0, 1);
   background: transparent;
}

.bar {
  background-color: rgba(0, 0, 0, 1) !important; /* or transparent, or background:none */
}

.item {
 border-color:rgba(255, 255, 255, 0.2);
  border-bottom: rgba(0, 0, 0, 0.6);
  background:  rgba(0, 0, 0, 0.4);
}

.item-complex .item-content {
	background-color: rgba(0, 0, 0, 0.4);
	border-top: rgba(255, 255, 255, 0.6);
}

.text-center {
	text-align: center;
}

.wood-panel {
	background-image: url("../img/cabinet-wood.jpg");
}

.black {
	background-color: rgba(0, 0, 0, 0.15);
}

.screen-frame {
	border: 1px solid rgb(205, 205, 205);
	background-color: rgb(10, 30, 10);
	border-radius: 8px;
	box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.1);
	width: 100%;
	height: 100%;
}

.controls-frame {
	border-top: 10px solid rgba(255, 255, 255, 0.1);
	padding: 15px;
	width: 100%;
}

.controls {
	margin: 10px 0 20px 0;
}

.game-controls {
	margin: 10px;
	border: 1px solid rgba(0, 0, 0, 1);
	border-radius: 10px;
	background-color: rgb(20, 20, 20);
	box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.1);
	padding: 10px;
}

.btn {
	width: 25%;
	height: 60px;
	font-family: 'Press Start 2P', normag;
	font-size: 12px;
	border-radius: 8px;
	color: rgb(255, 255, 255);
	background-color:  rgba(0, 0, 0, 1);
	margin: 5px;
}

.btn-sm {
	min-width: 60px;
	min-height: 30px;
	max-height: 50px;
	font-family: 'Press Start 2P', normal;
	font-size: 7px;
	border-radius: 40px;
	color: rgb(0, 0, 0);
	background-color: rgb(150, 150, 150);
	padding: 0;
	margin: 2px 0;
	line-height: 1;
}

.btn-start {
	background-color: rgba(0, 0, 0, 1);
	border-color: rgba(40, 165, 40, 1);
	color: rgba(40, 165, 40, 1);
}

.btn-reset {
	background-color: rgba(0, 0, 0, 1);
	border-color: rgba(255, 0, 0, 1);
	color: rgba(255, 0, 0, 1);
}

.btn-save {
	background-color: rgba(0, 0, 0, 1);
	border-color: rgba(255, 165, 0, 1);
	color: rgba(255, 165, 0, 1)
}

.btn-red {
	border: 3px solid rgba(165, 40, 40, 1);
}

.btn-green {
	border: 3px solid rgba(40, 165, 40, 1);
}

.btn-orange {
	border: 3px solid rgba(255, 165, 0, 1);
}

.yellow {
   color: rgba(255, 165, 0, 1);
}

.mar-b20 {
	margin-bottom: 20px;
}

.green {
	background: linear-gradient(to bottom, #c9de96 0%,#8ab66b 44%,#398235 100%);
}

.fnt-s {
	font-size: 9px;
	color: rgb(0, 215 35);
	font-family: 'Press Start 2P', normal;
}

.fnt-m {
	font-size: 13px;
}

.smaller {
	font-size: smaller;
}

.fnt-terminal {
	color: rgb(96, 275, 30);
	font-family: 'Press Start 2P', normal;
	font-size: 6px;
	line-height: 1.7;
	padding: 0 10px;
}

.fnt-deactivate {
	color: rgb(22, 44, 22);
	font-family: 'Press Start 2P', normal;
}

.fnt-trim {
	font-size: 9px;
	text-align: left;
	color: rgb(255, 255, 255);
	font-family: 'Press Start 2P', normal;
}

hr {
	border-top: 0;
	border-bottom: 2px solid rgba(96, 275, 30, 0.1);
	margin: 10px auto;
}

.caps{
	text-transform: uppercase;
}

.terminal {
   z-index: 1
}

.prompt {
	color: rgb(255, 255, 255);
	font-size: 9px;
}

.text-left {
	text-align: left;
}

.canvas__canvas {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.canvas__mirror {
  left: 0;
  position: absolute;
  top: 0;
}

/************
/ widths
/************/

.w-100p {
	width: 100%;
}

.w-50p {
	width: 50%;
}

.w-40p {
	width: 40%;
}

/************
/ mods
/************/

.pad-20 {
	padding: 20px;
}

.pad-30 {
	padding: 30px;
}

.pad-tb-10 {
	padding: 10px 0;
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}

.logo {
	color: rgba(255, 255, 255, 1);
	background-color: rgb(0, 0, 0);
	border-top: 3px solid rgba(197, 85, 189, 1);	
	border-bottom: 3px solid rgba(165, 40, 40, 1);	
	box-shadow:  0 0 0 5px rgba(255, 255, 255, 0.1);
	margin: 0 auto;
}