@font-face {
	font-family: 'Press Start 2P';
	src: url('../lib/ionic/fonts/PressStart2P-Regular.ttf');
}

body {
	font-family: 'Press Start 2P', normal;
	display: block;
	margin: 0;
	padding: 0;
	text-align: center;
}

.pane {
	background: rgb(30, 70, 60);
	background-size: cover;
}

h1, h2, h3 {
	color: deepskyblue;
	font-family: 'Press Start 2P', normal;
	text-align: center;
}

h4, h5, h6 {
	color: rgb(250, 250, 250);
	font-family: 'Press Start 2P', normal;
	text-align: left;
}

p {
   color: white;
   text-align: left;	
}

table td {
	text-align: left;
}

.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated {
    color: #fff;
    border-color: rgb(77, 255, 100);
    background-color:rgb(77, 200, 100);
}

.tabs-striped .tabs {
   color: rgb(76, 215, 100);
}

.bar {
  background-color: rgba(0, 0, 0, 0.2) !important; /* or transparent, or background:none */
}

.item {
border-color:rgba(255, 255, 255, 0.2);
  border-bottom: rgba(0, 0, 0, 0.6);
  background:  rgba(0, 0, 0, 0.4);
}

.item-complex .item-content {
	background-color: rgba(0, 0, 0, 0.4);
	order-top: rgba(255, 255, 255, 0.6);
}

.text-center {
	text-align: center;
}

.screen-frame {
	border: 3px solid rgb(0, 0, 0);
	background-color: rgb(10, 30, 10);
	border-radius: 8px;
	margin: 20px 5px;
	width: 100%;
	height: 100%;
}

.controls-frame {
	background-image: url("../img/cabinet-wood.jpg");
	background-size: 100;
	border: 2px solid rgb(0, 0, 0);
	border-radius: 8px;
	margin: 5px;
	width: 100%;
}

.btn {
	width: 25%;
	font-family: 'Press Start 2P', normal;
	font-size: 12px;
	color: rgb(0, 0, 0);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	margin: 10px 2px;
}

.mar-b20 {
	margin-bottom: 20px;
}

.green {
	background: rgb(73, 160, 5);
}

.tabs-background-military {
	background: rgb(73, 160, 5);
}

.fnt-s {
	font-size: 9px;
	color: rgb(0, 215 35);
	font-family: 'Press Start 2P', normal;
}

.fnt-m {
	font-size: 13px;
}

.fnt-terminal {
	font-size: 9px;
	color: rgb(96, 275, 30);
	font-family: 'Press Start 2P', normal;
	padding: 10px;
}

.fnt-trim {
	font-size: 9px;
	text-align: left;
	color: rgb(255, 255, 255);
	font-family: 'Press Start 2P', normal;
}

.terminal {
   z-index: 1
}

.prompt {
	color: rgb(255, 255, 255);
}

.text-left {
	text-align: left;
}

.canvas__canvas {
  position: relative;
  z-index: 1;
}

.canvas__mirror {
  left: 0;
  position: absolute;
  top: 0;
}

/************
/ widths
/************/

.w-100p {
	width: 100%;
}

.w-50p {
	width: 50%;
}